
history/countries/MAN - Manchukou.txt
common/decisions/MAN_decisions.txt
common/autonomous_states/wtt_imperial_protectorate.txt
common/autonomous_states/wtt_imperial_associate.txt
common/national_focus/china_communist.txt
common/national_focus/manchukuo.txt
common/national_focus/japan.txt
